{% extends 'base_user.html' %}

{% from 'forms/macros.html' import render_mini_field, render_tr_form %}

{% block css %}
    <style>
        table.invoice_bank_rekv { border-collapse: collapse; border: 1px solid; }
        table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td { border: 1px solid; }
        table.invoice_items { border: 1px solid; border-collapse: collapse;}
        table.invoice_items td, table.invoice_items th { border: 1px solid;}
    </style>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            
            
            $(".cart-item__price_all").html(0);
            
            $(".cart-item__amount").on('change blur keyup input mousewheel', function () {
                this.value = this.value.replace(/[^0-9+()]/g, '');
                var amount = parseInt($(this).val() * 1);
                var price = parseInt($(this).parents('.cart-item').find(".cart-item__price").val() * 1);
                var sum = amount * price;
                $(this).parents('.cart-item').find(".cart-item__price_all").html(sum);
                sumCart();

            });

            $(".cart-item__price").on('change blur keyup input mousewheel', function () {
                this.value = this.value.replace(/[^0-9+()]/g, '');
                var price = parseInt($(this).val() * 1);
                var amount = parseInt($(this).parents('.cart-item').find(".cart-item__amount").val() * 1);
                var sum = amount * price;
                $(this).parents('.cart-item').find(".cart-item__price_all").html(sum);
                sumCart();

            });

            
            function sumCart() {
                var count = 0;
                var size = 0;
                $(".cart-item__price_all").each(function () {
                    count += parseInt($(this).html());
                });
                $(".cart-item__amount").each(function () {
                    size += parseInt($(this).val());
                });
                count = count + '';
                var countNew = count.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
                $(".tovar-price._sum").html(countNew);
            }

            sumCart();
        });
    </script>
    
{% endblock %}

{% block top_panel %}
    <h5>Создание нового счёта</h5>
{% endblock %}

{% block wf %}{% endblock %}

{% block content %}
<form method="POST" role="form">
    {{ xsrf_form_html()|safe }}
    
    <section class="scrollable wrapper">
        <section class="panel clearfix bg-primary" style='width: 800px; margin: 0 auto'>
            <section class="panel-body">
                <button type='submit' class='btn btn-sm btn-success'><i class="fa fa-save"></i> Сохранить</button>
            </section>
        </section>
        <section class="panel" style='width: 800px; margin: 0 auto'>
            <section class="panel-body">
                <table width="100%">
                    <tr>
                        <td>
                            <b>{{ sender.name }}</b><br />
                            {{ sender.address }}<br />
                            ИНН:&nbsp;{{ sender.inn }}
                        </td>
                        <td  style="max-width:140mm; ">
                            <img src='/media/docs/logo.jpg' style='max-height: 150px; max-width: 100%'>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <table width="100%" cellpadding="2" cellspacing="2" class="invoice_bank_rekv">
                    <tr>
                        <td style="min-height:6mm; height:auto; width: 50mm;">
                            <div>ИНН {{ sender.inn }}</div>
                        </td>
                        <td style="min-height:6mm; height:auto; width: 55mm;">
                            <div>КПП {{ sender.kpp }}</div>
                        </td>
                        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 25mm;">
                            <div>Сч. №</div>
                        </td>
                        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 60mm;">
                            <div>{{ sender.bank_account }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="min-height:13mm; height:auto;">

                            <table border="0" cellpadding="0" cellspacing="0" style="height: 13mm; width: 105mm;">
                                <tr>
                                    <td valign="top" style="height: 5mm;">
                                        <div style="font-size: 10pt;">Получатель</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <div>{{ sender.name }}<br></div>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="2" style="min-height:13mm; width: 105mm;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="height: 13mm;">
                                <tr>
                                    <td valign="top" style="height: 5mm;">
                                        <div style="font-size: 10pt;">Банк получателя</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <div>{{ sender.bank_name }}</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="min-height:7mm;height:auto; width: 25mm;">
                            <div>БИK</div>
                        </td>
                        <td rowspan="2" style="vertical-align: top; width: 60mm;">
                            <div style=" height: 7mm; line-height: 7mm; vertical-align: middle;">{{ sender.bank_bik }}</div>
                            <div>{{ sender.bank_ks }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25mm;">
                            <div>Сч. №</div>
                        </td>
                    </tr>
                </table>
                <br/>

                <div style="font-weight: bold; font-size: 16pt; text-align: center">
                    Счет № {{ bill_num }} от {{ date.strftime('%d.%m.%Y') }}&nbsp;г.</div>
                <br/>

                <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
                <br />
                <table width="100%">
                    <tr>
                        <td valign="top"  style="width: 30mm;">
                            <div style="vertical-align: top; padding-left:2px;">Плательщик:    </div>
                        </td>
                        <td>
                            <div style="font-weight:bold;  padding-left:2px;">
                                Название&nbsp;{{ render_mini_field(recipient.name) }}, 
                                Адрес&nbsp;{{ render_mini_field(recipient.address) }}, 
                                ИНН&nbsp;{{ render_mini_field(recipient.inn) }}, 
                                КПП&nbsp;{{ render_mini_field(recipient.kpp) }},
                                р/сч&nbsp;{{ render_mini_field(recipient.bank_account) }}, 
                                банк&nbsp;{{ render_mini_field(recipient.bank_name) }}, 
                                кор.счет&nbsp;{{ render_mini_field(recipient.bank_ks) }}, 
                                БИК&nbsp;{{ render_mini_field(recipient.bank_bik) }}            
                            </div>
                        </td>
                    </tr>
                </table>

                <br /><br />
                <table class="invoice_items" width="100%" cellpadding="2" cellspacing="2">
                    <thead>
                    <tr>
                        <th style="width:13mm; text-align: center">№</th>
                        <th>Наименование товара, работ, услуг</th>
                        <th style="width:20mm;">Кол-во</th>
                        <th style="width:17mm;">Ед.</th>
                        <th style="width:27mm;">Цена</th>
                        <th style="width:27mm;">Сумма</th>
                    </tr>
                    </thead>
                    <tbody >
                        {% for i in bill_content.items %}
                            <tr class="cart-item">
                                <td align="center">{{ loop.index }}</td>
                                {{ render_tr_form(i) }}
                                <td><span class="cart-item__price_all"></span>&nbsp;p.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <tr>
                        <td style='width: 600px'></td>
                        <td style="width:27mm; font-weight:bold;  text-align:right;">Итого:</td>
                        <td style="width:27mm; font-weight:bold;  text-align:right;"><span class="tovar-price _sum"></span>&nbsp;p.</td>
                    </tr>
                </table>

                <br />
                <br />
                <div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
                <br/>

                <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <tr>
                        <td style='width: 120mm; vertical-align: bottom'>Руководитель:</td>
                        <td style="width: 100px">
                            <img src='/media/docs/sign_100x75.png' style='height: 75px; width: 100px'>
                        </td>
                        <td style=' vertical-align: bottom'>/{{ sender.accountant }}/</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="vertical-align: top; text-align: center;"><div style="font-size: 9pt;">подпись</div></td>
                        <td style="vertical-align: top; text-align: left;"><div style="font-size: 9pt;">расшифровка подписи</div></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan=2 style="vertical-align: top; text-align: left;">
                            <br />
                            <img src='/media/docs/stamp_180x180.png' style='height: 180px; width: 180px'>
                        </td>
                    </tr>
                </table>
            </section>
        </section>
    </section>
</form>
{% endblock %}