<!doctype html>
<html>
<head>
    <title>Бланк "Счет на оплату"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        @page { size: A4; margin: 1cm; }
        @font-face { font-family: Arial; src: url({{ MEDIA_ROOT }}/static/fonts/arial.ttf); }
        body { font-size: 14px; line-height: 1em; font-family: Arial; }    
        body { width: 210mm; margin-left: auto; margin-right: auto; border: 1px #efefef solid; font-size: 11pt;}
        table.invoice_bank_rekv { border-collapse: collapse; border: 1px solid #000; }
        table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td { border: 1px solid #000; }
        table.invoice_items { border: 1px solid #000; border-collapse: collapse;}
        table.invoice_items td, table.invoice_items th { border: 1px solid #000;}
        table.without-border { border-collapse: collapse; border: none; }
        table.without-border > tr > td { border: none; }
        div { border: none }
    </style>
</head>
<body>
<table width="100%" class='without-border'>
    <tr>
        <td>
            <b>{{ sender.name }}</b><br />
            {{ sender.address }}<br />
        </td>
        <td  style="max-width:140mm; ">
            <img src='{{ MEDIA_ROOT }}/media/docs/logo.jpg' style='max-height: 150px; max-width: 100%'>
        </td>
    </tr>
</table>


<table width="100%" cellpadding="2" cellspacing="2" class="invoice_bank_rekv" style='margin-top: 30px; margin-bottom: 30px'>
    <tr>
        <td style="min-height:6mm; height:auto; width: 50mm;">
            <div>ИНН {{ sender.inn }}</div>
        </td>
        <td style="min-height:6mm; height:auto; width: 55mm;">
            <div>КПП {{ sender.kpp }}</div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 25mm;">
            <div>Сч. №</div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 60mm;">
            <div>{{ sender.bank_account }}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="min-height:13mm; height:auto;">

            <table border="0" cellpadding="0" cellspacing="0" style="height: 13mm; width: 105mm;">
                <tr>
                    <td valign="top" style="height: 5mm;">
                        <div style="font-size: 10pt;">Получатель</div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <div>{{ sender.name }}<br></div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2" style="min-height:13mm; width: 105mm;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="height: 13mm;">
                <tr>
                    <td valign="top" style="height: 5mm;">
                        <div style="font-size: 10pt;">Банк получателя</div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <div>{{ sender.bank_name }}</div>
                    </td>
                </tr>
            </table>
        </td>
        <td style="min-height:7mm;height:auto; width: 25mm;">
            <div>БИK</div>
        </td>
        <td rowspan="2" style="vertical-align: top; width: 60mm;">
            <div style=" height: 7mm; line-height: 7mm; vertical-align: middle;">{{ sender.bank_bik }}</div>
            <div>{{ sender.bank_ks }}</div>
        </td>
    </tr>
    <tr>
        <td style="width: 25mm;">
            <div>Сч. №</div>
        </td>
    </tr>
</table>


<div style="font-weight: bold; font-size: 16pt; text-align: center; border: none">
    Счет № {{ bill_num }} от {{ date.strftime('%d.%m.%Y') }}&nbsp;г.
</div>

<div style="background-color:#000000; width:100%; font-size:1px; height:2px; margin-top: 20px">&nbsp;</div>

<table width="100%" class='without-border' style='margin-top: 10px'>
    <tr>
        <td valign="top"  style="width: 30mm;">
            <div style="vertical-align: top; padding-left:2px;">Плательщик:    </div>
        </td>
        <td>
            <div style="font-weight:bold;  padding-left:2px;">
                {{ recipient.name }}, 
                {{ recipient.address }}, 
                ИНН&nbsp;{{ recipient.inn }}, КПП&nbsp;{{ recipient.kpp }}, <br />
                р/сч&nbsp;{{ recipient.bank_account }}, 
                банк&nbsp;{{ recipient.bank_name }}, кор.счет&nbsp;{{ recipient.bank_ks }}, БИК&nbsp;{{ recipient.bank_bik }}            
            </div>
        </td>
    </tr>
</table>


<table class="invoice_items" width="100%" cellpadding="2" cellspacing="2" style='margin-top: 30px'>
    <thead>
        <tr>
            <th style="width:13mm;">№</th>
            <th>Наименование товара, работ, услуг</th>
            <th style="width:30mm;">Кол-во</th>
            <th style="width:25mm;">Ед.</th>
            <th style="width:47mm;">Цена</th>
            <th style="width:47mm;">Сумма</th>
        </tr>
    </thead>
    <tbody >
        {% for i in items %}
            <tr>
                <td align="center">{{ loop.index }}</td>
                <td align="left">{{ i.name }}</td>
                <td align="right">{{ '%d' % i.count }}</td>
                <td align="left">{{ i.unit }}</td>
                <td align="right">{{ '%8.02f' % i.price }}&nbsp;p.</td>
                <td align="right">{{ '%8.02f' % (i.count * i.price) }}&nbsp;p.</td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>

<table border="0" width="100%" cellpadding="1" cellspacing="1" class='without-border'>
    <tr>
        <td></td>
        <td style="width:40mm; text-align:right;"><b>Итого:</b></td>
        <td style="width:40mm; text-align:right;"><b>{{ '%8.02f' % items_sum }}&nbsp;p.</b></td>
    </tr>
</table>


<div  style='margin-top: 30px; border: none'>
Всего наименований {{ items_count }} на сумму <b>{{ '%8.02f' % items_sum }}</b> руб.<br />
{{ items_sum_text }}.</div>

<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>


<table border="0" width="100%" cellpadding="1" cellspacing="1" class='without-border' style='margin-top: 30px'>
    <tr>
        <td style='width: 50%; vertical-align: bottom'>Руководитель:</td>
        <td style="width: 20%">
            <img src='{{ MEDIA_ROOT }}/media/docs/sign_100x75.png' style='height: 75px; width: 100px'>
        </td>
        <td style='width: 30%; vertical-align: bottom'>/{{ sender.accountant }}/</td>
    </tr>
    <tr>
        <td></td>
        <td style="vertical-align: top; text-align: center;"><div style="font-size: 9pt;">подпись</div></td>
        <td style="vertical-align: top; text-align: left;"><div style="font-size: 9pt;">расшифровка подписи</div></td>
    </tr>
    <tr>
        <td></td>
        <td colspan=2 style="vertical-align: top; text-align: left;">
            <br />
            <img src='{{ MEDIA_ROOT }}/media/docs/stamp_180x180.png' style='height: 180px; width: 180px'>
        </td>
    </tr>
</table>

</body>
</html>
