<nav class="nav-primary hidden-xs">
    <ul class="nav">

        <li>
            <a href="/">
            <i class="fa fa-home"></i>
            <span>Главная</span>
            </a>
        </li>   
        
        <li class="dropdown-submenu">
            <a href="/db">
            <i class="fa fa-code"></i>
            <span>БД</span>
            </a>
        </li>
        
        <li>
            <a href="/user/profile">
            <i class="fa fa-user"></i>
            <span>Профиль</span>
            </a>
        </li>   

    </ul>
</nav>