{% extends 'base_user.html' %}

{% block title %}Профиль{% endblock %}

{% block top_panel %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/user/profile">Профиль</a>
        </li>
        <li>
            <a href="/user/organization">Организация</a>
        </li>
        <li>
            <a href="/user/settings">Настройки</a>
        </li>
        <li>
            <a href="/user/payment">Оплата</a>
        </li>
    </ul>
{% endblock %}

{% block wf %}{% endblock %}

{% block content %}

    <section class="scrollable wrapper">           
        <section class="panel" style='width: 800px; margin: 0 auto'>
            <section class="panel-body">
                <h3>Реквизиты компании:</h3>
                
                <h3>Дополнительная информация:</h3>
                
            </section>
        </section>
        
        <section class="panel clearfix bg-primary" style='width: 800px; margin: 0 auto'>
            <section class="panel-body">
                <a href="" class="btn btn-sm btn-info"><i class="fa fa-list"></i> Список</a>
            </section>
        </section>
    </section>
    
{% endblock %}